@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .login__logo {
    width: 50%;
    max-width: 250px;
    margin: 2%;
    font-size: 2.5em;
    @include min($s-medium) {
      font-size: 3.5em;
    }
  }

  .login__text {
    color: $white;
    padding: 0 10%;
    text-align: center;
    margin: 0;
  }

  .login__sign-in-button {
    margin-top: 5%;
    font-size: 2em;
    @include min($large) {
      margin-top: 2%;
    }
  }

  .login__text,
  .login__sign-in-button {
    font-family: $righteous;
    letter-spacing: 4px;
    @include min($s-medium) {
      font-size: 3em;
    }
    @include min($large) {
      font-size: 4em;
    }
  }
}
